<title>Manage Profiles</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="view-profile-container">
    
    
    <!-- NEED TO REMOVE DIV WITHOUT WEIRD BUG THING -->
    <div> </div>
    <!-- __________________________________________ -->


<!--     <div class="view-profile-bottom-box"> -->
      
      <!-- loop through all profile array and list them all -->
      <div class="view-profile-box-list">
        <div class="flex-center box-title">
          <p>Default Profile</p>
        </div>
        <!-- default profile -->
        <a onclick='post("/viewProfile/{{defaultProfile.id}}")'>
          <div class="view-profile-box border-black">
            <div class="flex-center">
              <img class="profile-image-view" src="/images/icons/user.svg" alt="">
            </div>
            <div class="flex-center box-title">
              {{defaultProfile.firstName}} {{defaultProfile.lastName}}
            </div>
          </div>
        </a>
        
        <br> <hr> <br>

        <!-- other profiles -->
        {{#each profileList}}  
          <a onclick='post("/viewProfile/{{id}}")'>
            <div class="view-profile-box border-black">
              <div class="flex-center">
                <img class="profile-image-view" src="/images/icons/user.svg" alt="">
              </div>
              <div class="flex-center box-title">
                {{firstName}} {{lastName}}
              </div>
            </div>
          </a>
        {{/each}}

      </div>
      
<!--     </div> -->
    

    <div id="btns-container">
      <div class="btn flex-center border-right-black">
        Edit
      </div>
      <a href="/addNewProfile" class="flex-center">
      <div class="btn flex-center">
        Add
      </div>
      </a>
    </div>
  </div>




<script src="/js/viewProfiles.js"></script>
