<title>View Profile</title>
</head>

<body>
  {{>navigation}} {{>nonscript}}

<!--
    account_id: {{account_id}} <br>
    profile_id: {{profile_id}}
  -->

  <div class="add-new-profile-container">
    <div class="add-new-profile-name-box profile-image-box">
      <div id="add-new-profile-image" class="border-black flex-center">
        <img class="profile-image" src="/images/icons/user.svg" alt="">
      </div>
      <div id="add-new-profile-first" class="flex-center">
        Firstname
        <input id="firstname" type="text" class="input-margin-left border-black add-new-profile-input" value="{{firstName}}" disabled/>
      </div>
      <div id="add-new-profile-last" class="flex-center">
        Lastname
        <input id="lastname" type="text" class="input-margin-left border-black add-new-profile-input" value="{{lastName}}" disabled/>
      </div>
    </div>
    <div class="">
      <div class="box-title">
        Date of Birth
      </div>
      <div class="box-content flex-center">
        <input id="dob" type="date"/ value="{{dob}}" disabled>
      </div>
    </div>

    <!-- gender information -->
    <div class="">
      <div class="box-title"> Gender </div>
      <div id="gender-box" class="box-content">
        <!-- male checkbox -->
        <div class="gender-box">
          <input id="gender-male" type="checkbox" name="checkbox" onclick="check(this)" {{#if gender_male}}checked{{/if}} disabled /> Male
        </div>
        <!-- female check box -->
        <div class="gender-box">
          <input id="gender-female" type="checkbox" name="checkbox" onclick="check(this)" {{#if gender_female}}checked{{/if}} disabled /> Female
        </div>
        <!-- other gender -->
        <div class="gender-box">
          Other:  
          <input id="gender-other" name="checkbox" placeholder="  Whatever floats your boat" size="24" class="border-black" type="text"  value="{{gender_other}}" onclick="check(this)" disabled />
        </div>
      </div>
    </div>

    <div class="box-title">
      <input type="checkbox" id="setDefault" {{#if default}}checked{{/if}} disabled /> Set as Default
    </div>

  </div>
  <div id="btns-container" class="add-new-profile-btn">
    <div class="btn flex-center border-right-black">
      <div id="deleteProfile" onclick="deleteProfile({{id}})" class="a-box flex-center">Delete</div>
      <div id="cancelProfile" class="a-box flex-center cancelProfile-close ">Cancel</div>
    </div>

    <div class="btn flex-center">
      <div id="editProfile" class="a-box flex-center">Edit</div>
      <div id="saveProfile" onclick="save({{id}})" class="a-box flex-center saveProfile-close">Save</div>
    </div>
  </div>







<script src="/js/viewProfile.js"></script>
  {{>script}}
