<title>Add New Medication</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.12.4.js"></script>
 <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}


  <div id="add-new-med-content-container">


    <div class="add-new-med-box">
      <div class="box-title"> Medicine Name </div>
      <div class="box-content flex-center">
        <!-- it should fetch all medicine info -->
        <input id="medicinename" class="med-name-input" type="text" placeholder="Search">
      </div>
    </div>



    <div class="add-new-med-box">
      <div class="box-title"> Dosage per pill </div>

      <div class="box-content flex-center">
        <div class="med-dosage-container">
          <input id="dosage" class="med-dosage-input" type="text" placeholder="Dosage">
          <select class="amount-select" name="">
            <option value="mg">mg</option>
            <option value="g">g</option>
          </select>
        </div>

      </div>
    </div>



    <div class="add-new-med-box">
      <div class="box-title"> Frequency </div>

      <div class="box-content-frequency flex-center">
        <div class="med-frequency-container">
          <input id="numPills" class="med-frequency-input" type="text" placeholder="# of pills"> Pills
          <hr id="divider-hr">
          <div class="med-frequency-option">
            <div>
              Every <input id="recurrence_hour" class="med-frequency-every-input" type="text"> Hours
            </div>
            <div>
              <input id="times_per_day" class="med-frequency-every-input" type="text"> Times a day
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="add-new-med-box">
      <div class="box-title"> Duration </div>

      <div class="box-content-duration flex-center">
        <div class="med-duration-container">

          <div class="med-duration-box">
            <div class=""> Start Date </div>
            <input id="start_date" class="border-black duration-input" type="date">
          </div>

          <div class="med-duration-box">
            <div class=""> Start Time </div>
            <input id="start_time" class="border-black duration-input" type="time">
          </div>
          <hr id="divider-hr">

          <div class="med-duration-box">
            <div class=""> End Date </div>
            <input id="end_date" class="border-black duration-input" type="date">
          </div>

          <div class="med-duration-box">
            <div class=""> End Time </div>
            <input id="end_time" class="border-black duration-input" type="time">
          </div>

        </div>
      </div>

    </div>



    <!-- shape and color -->
    <div class="add-new-med-box">
      <div class="box-title"> Shape & Color </div>


      <div class="box-content-shape flex-center">
        <div class="med-shape-container">
          <div class="med-shape-box">

            <!-- med shape div -->
            <div class="med-shape">
              {{#each shapeList}}
                <div class="flex-center">
                  <img class="shape" id="{{.}}" style="width: 10vw;" src="/images/icons/pills/{{.}}-white.png" alt="{{.}}" />
                </div>
              {{/each}}
            </div>

            <!-- med color div -->
            <div class="med-color">
              {{#each colorList}}
                <div class="flex-center">
                  <div class="color {{.}}" id="{{.}}">
                  </div>
                </div>
              {{/each}}
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="add-new-med-box">
      <div class="box-title"> Note </div>

      <div class="box-content-note flex-center">
        <div class="med-note-container">
          <textarea class="med-note-text"></textarea>
        </div>

      </div>
    </div>


  </div>

  <div id="btns-container">
    <div class="btn flex-center border-right-black" onclick="backtopage();">
      Cancel
    </div>
    <div id="createMedicine" onclick="createMedicine({{profile_id}})" class="btn flex-center">
      Save
    </div>
  </div>
  <script src="/js/addNewMed.js"></script>
</body>
