<title>Home</title>
</head>

<body>
  {{>navigation}} {{>nonscript}}
  
  <!-- make POST request if user access page with GET request (via url) -->
  {{>post}}

  <!-- profile drop down menu -->
  <div class="user-profile-container flex-center">
    <div class="user-profile-content-container">
      <div class="profile-list-container">

        <!-- for default user profile-->
        <div id="default-user-profile" class="user-profile-name-box page-title">


        </div>
        <hr>

      </div>
      <div class="btn flex-center">
        <a onclick="post('/addNewProfile')">Add New Profile</a>

      </div>
      <div class="btn flex-center">
        <a onclick="post('/viewProfiles')">View All Profiles</a>
      </div>
    </div>

  </div>


  <p id="profile_id" style="display:none" >{{id}}</p>


  <div id="home-content-container">
    <div id="home-content-title" class="home-title">
      Today
    </div>


    <div id="med-list-container">

      {{#each medicineList}}
        {{#each values}}
          <a onclick="post('/viewPillDetail/{{id}}')">
            <div class="med-item-box border-black">
              <div class="med-item-icon flex-center">
                <img class="pill-icon-img" src="/images/icons/pills/{{med_pic}}" onerror="this.src='/images/icons/pill.svg'" />
              </div>
              <div class="med-item-name flex-center med-name" id="{{id}}">{{medicinename}}</div>
              <div class="med-item-time flex-center med-time">{{time}}</div>
            </div>
          </a>
        {{/each}}
      {{/each}}

      {{#unless medicineList}}
        You have no medicine today
      {{/unless}}

    </div>

    


 
    <div id="home-btns-container">
      <div id="view-all-btn" class="home-btn home-btns flex-center">
        <a id="view-all-btn-a" onclick="viewAllMed()">View All</a></div>
      <div id="add-new-btn" class="home-btn home-btns flex-center">
        <a onclick='addNewMed()'>Add New</a>
      </div>
    </div>
  </div>

  <div id="date-container">
    <div id="date-prev" class="flex-center date">
      April 14
    </div>
    <div id="date-today" class="flex-center date current-day">
      April 15
    </div>
    <div id="date-next" class="flex-center date">
      April 16
    </div>
  </div>

  </div>
  <script src="/js/home.js"></script>
</body>
