<!-- Page where user can view/edit account info or change password -->

<title>Account Settings</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  <!-- make POST request if user access page with GET request (via url) -->
  {{>post}}
  
  <div class="view-account-info-container">

    <!-- email -->
    <div class="view-account-info-email">
      <div class="box-title"> Email </div>

      <div class="border-black view-account-info-text flex-center">
        <input id="email" class="edit-account-inputs" type="text" value="{{email}}" disabled>
      </div>
    </div>

    <!-- username -->
    <div class="view-account-info-username">
      <div class="box-title"> Username </div>

      <div class="border-black view-account-info-text flex-center">
        <input id="username" class="edit-account-inputs" type="text" value="{{username}}" disabled>
      </div>
    </div>

    <div class="view-account-info-dob">
      <div class="box-title">
          Account ID: {{id}}
      </div>
    </div>

    


    <a href="/changePassword">
      <div class="flex-center btn edit-account-info-btn">
        Change Password
      </div>
    </a>

    <div id="btns-container" class="add-new-Account-btn">
    <div class="btn flex-center border-right-black">
      <div id="deleteAccount" onclick="deleteAccount({{id}})" class="a-box flex-center">Delete</div>
      <div id="cancelAccount" class="a-box flex-center cancelAccount-close ">Cancel</div>
    </div>

    <div class="btn flex-center">
      <div id="editAccount" class="a-box flex-center">Edit</div>
      <div id="saveAccount" onclick="save({{id}})" class="a-box flex-center saveAccount-close">Save</div>
    </div>
  </div>



  </div>

<script src="/js/settings.js"></script>
{{>script}}
