<title>View Medication History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  <div class="view-pill-history-container">

    <!-- Pill image and name -->
    <div class="">
      <br><br>
      <div class="flex-center">
        <img class="view-pill-icon-img" src="/images/icons/pills/{{med_pic}}" onerror="this.src='/images/icons/pill.svg'">
      </div>

      <div class="flex-center">
        <p>{{medicinename}}</p>
      </div>
    </div>


    <!-- Pill list -->
    <div class="view-pill-history-box-list">
      {{#each medicine}}

        <center>{{date}}</center>

        {{#each values}}
          <a onclick="post('/viewPillDetail/{{medicine_id}}')">
            <div class="view-pill-history-box border-black">

              <div class="flex-center"> {{time}} </div>
              <div class="isTaken view-pill-history-end" style="display:none">{{isTaken}} </div>
              <div class="isTakenImage-yes notShown">
                <img width="40vw" src="/images/icons/checked-checkbox-96.png" alt="">
              </div>
              <div class="isTakenImage-no notShown">
                <img width="40vw" src="/images/icons/unchecked-checkbox-96.png" alt="">
              </div>

            </div>
           </a>
         {{/each}}

      {{/each}}
    </div>

  </div>

  {{>script}}
  <script src="/js/history.js"/>
