<title>History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="view-profile-container">
    
    
    <!-- NEED TO REMOVE DIV WITHOUT WEIRD BUG THING -->
    <div> </div>
    <!-- __________________________________________ -->


    <!-- make POST request if user access page with GET request (via url) -->
    {{>post}}
      
      <!-- loop through all profile array and list them all -->
      <div class="view-profile-box-list">
        
        <div class="flex-center box-title">
          <p>Default Profile</p>
        </div>
        <!-- default profile -->
        <a onclick='post("/viewProfileHistory/{{defaultProfile.id}}")'>
          <div class="view-profile-box border-black">
            <div class="flex-center">
              <img class="profile-image-view" src="/images/icons/user.svg" alt="">
            </div>
            <div class="flex-center box-title">
              {{defaultProfile.firstName}} {{defaultProfile.lastName}}
            </div>
          </div>
        </a>
        
        <br> <hr> <br>

        <!-- other profiles -->
        {{#each profileList}}  
          <a onclick='post("/viewProfileHistory/{{id}}")'>
            <div class="view-profile-box border-black">
              <div class="flex-center">
                <img class="profile-image-view" src="/images/icons/user.svg" alt="">
              </div>
              <div class="flex-center box-title">
                {{firstName}} {{lastName}}
              </div>
            </div>
          </a>
        {{/each}}

      </div>
      
    
  </div>




{{>script}}
