<title>View Medication History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  {{>post}}

  {{>history_modal}}

  <div class="view-pill-history-container">

     <div class="flex-center">
      <div class="pill-date-box border-black">
        <a class="flex-center gray border-right" onclick="post('/viewHistory')">Pill</a>
        <a class="flex-center" href="/viewHistoryDate">Date</a>
      </div>
    </div>



    <!-- Pill list -->
    <div class="view-pill-history-box-list">
      {{#each medicine}}

      	<center>{{date}}</center>

      	{{#each values}}
	        <a onclick="showModal('{{medicinename}}','{{medicine_id}}','{{id}}')">
            <div class="view-pill-history-box border-black" id="div_id_{{id}}">
	            <div class="view-pill-history-info">
	            	<img class="pill-icon-img" src="/images/icons/pills/{{med_pic}}" onerror="this.src='/images/icons/pill.svg'" /> {{medicinename}}

	            </div>

              <div class="view-pill-history-end flex-center"> {{time}} </div>

              <!-- checkbox for whether pill has been taken -->
              <div class="isTaken flex-center" id="taken_text_{{id}}" style="display:none">{{isTaken}} </div>
              <div class="isTakenImage-yes notShown taken_yes_{{id}}">
                <img width="40vw" src="/images/icons/checked-checkbox-96.png" alt="">
              </div>
              <div class="isTakenImage-no notShown taken_no_{{id}}">
                <img width="40vw" src="/images/icons/unchecked-checkbox-96.png" alt="">
              </div>

	          </div>
	         </a>
         {{/each}}

      {{/each}}
    </div>

  </div>

  {{>script}}
  <script src="/js/history.js"/>
