<!-- Page that show selected pill's history of intake -->

<title>View Medication History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  {{>post}}

  {{>history_modal}}

  <div class="view-pill-history-container">

    <!-- Pill image and name -->
    <div class="">
      <br><br>
      <div class="flex-center">
        <img class="view-pill-icon-img" src="/images/icons/pills/{{med_pic}}" onerror="this.src='/images/icons/pill.svg'">
      </div>

      <div class="flex-center">
        <p>{{medicinename}}</p>
      </div>
    </div>


    <!-- Pill list -->
    <div class="view-pill-history-box-list">
      {{#each medicine}}

        <center>{{date}}</center>

        {{#each values}}
          <a onclick="showModal('{{medicinename}}','{{medicine_id}}','{{id}}')">
            <div class="view-pill-history-box border-black" id="div_id_{{id}}">

              <div class="flex-center"> {{time}} </div>

              <!-- checkbox for whether pill has been taken -->
              <div class="isTaken flex-center" id="taken_text_{{id}}" style="display:none">{{isTaken}} </div>
              <div class="isTakenImage-yes notShown taken_yes_{{id}}">
                <img width="40vw" src="/images/icons/checked-checkbox-96.png" alt="">
              </div>
              <div class="isTakenImage-no notShown taken_no_{{id}}">
                <img width="40vw" src="/images/icons/unchecked-checkbox-96.png" alt="">
              </div>

            </div>
           </a>
         {{/each}}

      {{/each}}
    </div>

  </div>

  {{>script}}
  <script src="/js/history.js"/>
