<title>View Medication History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  <div class="view-pill-history-container">

    <!-- Pill image and name -->
    <div class="">
      <div class="flex-center">
        <img class="view-pill-icon-img" src="/images/icons/pills/{{med_pic}}" onerror="this.src='/images/icons/pill.svg'">
      </div>

      <div class="flex-center">
        <p>{{medicinename}}</p>
      </div>
    </div>


    <!-- Pill list -->
    <div class="view-pill-history-box-list">
      {{#each medicine}}
        <a onclick="post('/viewPillDetail/{{medicine_id}}')">
          <div class="view-pill-history-box border-black">
            <div class="view-pill-history-info">
              
              <div class="flex-center">
                Taken: {{isTaken}}
              </div>
            </div>
            <div class="view-pill-history-start flex-center">
              Date : {{date}}
            </div>
            <div class="view-pill-history-end flex-center">
              Time : {{time}}
            </div>
          </div>
          </a>
      {{/each}}
    </div>

  </div>

</body>
