<title>View Medication Detail</title>
</head>

<body>
  {{>navigation}} {{>nonscript}}

  <!-- make POST request if user access page with GET request (via url) -->
  {{>post}}

  <div class="view-pill-detail-container">
    <div class="view-pill-detail-icon-box">
      <div class="flex-center">
        <img class="view-pill-icon-img" src="/images/icons/pills/{{medicine.med_pic}}" onerror="this.src='/images/icons/pill.svg'">
      </div>
      <div class="flex-center">
        <p>{{medicine.medicinename}}</p>
        <p>{{medicine.dosage}} mg / pill</p>
      </div>

    </div>

    <div class="view-pill-detail-direction">
      <div class="box-title">
          Direction
      </div>

      <div class="border-black view-pill-detail-text">
        {{medicine.num_pills}} pill(s) {{medicine.times_per_day}} times a day
      </div>
    </div>
    <div class="view-pill-detail-note">
      <div class="box-title">
          Note
      </div>

      <div class="border-black view-pill-detail-text">
        Take on an empty stomach
      </div>
    </div>

    <a href="/viewPillHistory">
      <div class="flex-center btn view-pill-history-btn">
        View Pill History
      </div>
    </a>



    <div id="btns-container" class="view-pill-detail-btns">
      
      <!-- edit button -->
      <div class="btn flex-center border-right-black">
        <!-- send medicine info to route so it doesn't have to waste time
             making request to database -->
        <a onclick='
          post("/editMedicine/{{medicine.id}}", 
          {
            id: "{{medicine.id}}",
            medicinename: "{{medicine.medicinename}}",
            dosage: "{{medicine.dosage}}",
            num_pills: "{{medicine.num_pills}}",
            recurrence_hour: "{{medicine.recurrence_hour}}",
            times_per_day: "{{medicine.times_per_day}}",
            start_date: "{{medicine.start_date}}",
            start_time: "{{medicine.start_time}}",
            end_date: "{{medicine.end_date}}",
            end_time: "{{medicine.end_time}}",
            med_type: "{{medicine.med_type}}",
            med_color: "{{medicine.med_color}}",
            med_pic: "{{medicine.med_pic}}",
            account_id: "{{medicine.account_id}}",
            profile_id: "{{medicine.profile_id}}" 
          })'> Edit </a>
      </div>

      <!-- delete button -->
      <div class="btn flex-center">
        <a id="delete" onclick="deleteMedicine({{medicine.id}})">
          Delete
        </a>
      </div>
    </div>
  </div>

  <script src="/js/viewPillDetail.js"></script>
